.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.container-fluid {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: .5;
  }
  100% {
    -webkit-transform-origin: left center;
            transform-origin: left center;
    opacity: 1;
    text-shadow: 0 0 3px #e1e506;
  }
}

@keyframes logo {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: .5;
  }
  100% {
    -webkit-transform-origin: left center;
            transform-origin: left center;
    opacity: 1;
    text-shadow: 0 0 3px #e1e506;
  }
}

@-webkit-keyframes shadow {
  0% {
    text-shadow: 0 0 5px #e1e506;
  }
}

@keyframes shadow {
  0% {
    text-shadow: 0 0 5px #e1e506;
  }
}

@-webkit-keyframes main-head {
  0% {
    opacity: 0;
    margin-bottom: 300%;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  50% {
    margin: 0;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  70% {
    -webkit-box-shadow: 0 0 100px 20px #ddc700ad;
            box-shadow: 0 0 100px 20px #ddc700ad;
  }
  100% {
    opacity: 1;
  }
}

@keyframes main-head {
  0% {
    opacity: 0;
    margin-bottom: 300%;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  50% {
    margin: 0;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  70% {
    -webkit-box-shadow: 0 0 100px 20px #ddc700ad;
            box-shadow: 0 0 100px 20px #ddc700ad;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes arrow {
  0% {
    margin-bottom: 5px;
  }
  100% {
    margin-top: 5px;
  }
}

@keyframes arrow {
  0% {
    margin-bottom: 5px;
  }
  100% {
    margin-top: 5px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  line-height: 1.7;
  color: #696969;
  scroll-behavior: smooth;
}

*::-moz-selection {
  background-color: #e1e50680;
}

*::selection {
  background-color: #e1e50680;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  opacity: 0.4;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #035170d3), to(#cecece4d));
  background-image: linear-gradient(to right, #035170d3 50%, #cecece4d 100%);
}

nav:hover {
  opacity: 1;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #4d778885), to(#cecece));
  background-image: linear-gradient(to right, #4d778885 10%, #cecece 100%);
}

nav:hover .logo span {
  -webkit-animation: logo 300ms linear forwards;
          animation: logo 300ms linear forwards;
}

nav .container {
  height: 60px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .logo span {
  padding-left: 15px;
  color: #e1e506;
  font-weight: bold;
  opacity: 0;
}

nav .container .nav-links {
  position: relative;
  cursor: pointer;
}

nav .container .nav-links .icon {
  width: 40px;
  height: 16px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

nav .container .nav-links .icon span {
  border-radius: 5px;
  height: 2px;
  background-color: #e1e506;
}

nav .container .nav-links .icon span:first-child {
  width: 30px;
}

nav .container .nav-links .icon span:nth-child(2) {
  width: 25px;
}

nav .container .nav-links .icon span:last-child {
  width: 20px;
}

nav .container .nav-links ul {
  min-width: 200px;
  background-color: #59696d;
  border-radius: 15px 0 0 15px;
  position: absolute;
  top: 38px;
  right: 0;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0;
}

nav .container .nav-links ul:before {
  content: "";
  position: absolute;
  top: -14px;
  right: 8px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent #59696d5b transparent;
}

nav .container .nav-links ul li:not(:last-child) {
  border-bottom: 1px solid rgba(225, 229, 6, 0.5);
}

nav .container .nav-links ul li a {
  display: block;
  padding: 15px;
  color: #e1e506;
}

nav .container .nav-links ul li a i {
  color: #e1e50660;
}

nav .container .nav-links ul li a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transform-origin: right;
          transform-origin: right;
  background-color: #7a8588;
  border-radius: 50px 0 0 50px;
}

nav .container .nav-links:hover .icon {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

nav .container .nav-links:hover ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

header {
  height: 100vh;
  background: url("../images/header.png") center center/cover no-repeat;
  text-align: center;
}

header .title h1 {
  margin: 0;
  color: #e1e506;
  -webkit-animation: shadow 1500ms infinite ease-in-out alternate;
          animation: shadow 1500ms infinite ease-in-out alternate;
}

@media (max-width: 767px) {
  header .title h1 {
    font-size: 1.5em;
  }
}

header .title p {
  color: #afafaf;
  margin-top: 15px;
  margin-bottom: 15px;
}

header .title p::-moz-selection {
  color: #5c5c5c;
}

header .title p::selection {
  color: #5c5c5c;
}

header .title button {
  -webkit-animation: main-head 4s ease-in-out;
          animation: main-head 4s ease-in-out;
}

header .more {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .more a {
  -webkit-animation: arrow 500ms infinite ease-in-out alternate;
          animation: arrow 500ms infinite ease-in-out alternate;
}

header .more a i {
  font-size: 25px;
  cursor: pointer;
  color: #e1e506;
}

section {
  background-color: #f4f4f4;
}

.about-us {
  background-color: #FFF;
}

.about-us .container {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.about-us .container figure figcaption {
  line-height: 1.7;
  color: #8d8c8c;
  padding: 15px;
}

@media (min-width: 992px) {
  .about-us .container figure {
    margin: auto;
    width: 70%;
  }
}

.services .container {
  text-align: center;
  padding-bottom: 70px;
}

.services .container .service-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px 25px;
  margin-top: 70px;
}

.services .container .service-list .item {
  position: relative;
  padding: 15px;
}

.services .container .service-list .item:hover .skills {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.services .container .service-list .item > div {
  padding: 15px;
}

.services .container .service-list .item .info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px 0px #b6bdbeb4;
          box-shadow: 0 0 10px 0px #b6bdbeb4;
}

.services .container .service-list .item .info i {
  color: #e1e506;
}

.services .container .service-list .item .info h3 {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  letter-spacing: 3px;
}

.services .container .service-list .item .info p {
  margin-top: 25px;
}

.services .container .service-list .item .skills {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #e7e7e7), to(#fff));
  background-image: linear-gradient(to top, #e7e7e7 50%, #fff 100%);
  position: absolute;
  width: calc(100% - 30px);
  opacity: 0;
  bottom: 15px;
  left: 15px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-box-shadow: 0 0 7px 0px #96b5bdd8;
          box-shadow: 0 0 7px 0px #96b5bdd8;
  text-align: left;
}

.services .container .service-list .item .skills .range {
  margin-bottom: 15px;
}

.services .container .service-list .item .skills .range span {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #cac69da2;
  position: relative;
}

.services .container .service-list .item .skills .range span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e1e506;
  width: 80%;
  height: inherit;
}

.services .container .service-list .item .skills .range span::after {
  content: "80%";
  position: absolute;
  top: 0;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  font-size: 10px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border: 3px solid #e1e506;
  border-radius: 50%;
  font-family: "Original Surfer", cursive;
}

.services .container .service-list .item .skills .range p {
  font-weight: bold;
}

.progress {
  background-color: #000;
}

.progress .content {
  padding-top: 70px;
  padding-bottom: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px 25px;
}

.progress .content .done:hover {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.progress .content .done .item {
  -webkit-box-shadow: 0 0 5px 5px #5f5e5ecc;
          box-shadow: 0 0 5px 5px #5f5e5ecc;
  padding: 15px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #e7e7e7), to(#fff));
  background-image: linear-gradient(to top, #e7e7e7 50%, #fff 100%);
}

@media (min-width: 1200px) {
  .progress .content .done .item {
    margin-bottom: 0;
  }
}

.progress .content .done .item span {
  font-weight: bold;
  font-family: "Original Surfer", cursive;
}

.progress .content .done .item p {
  font-weight: bold;
  letter-spacing: 2px;
  padding-top: 5px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .progress .content {
    -ms-grid-columns: (minmax(250px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

.portfolio .container {
  text-align: center;
}

.portfolio .container .items {
  padding: 15px;
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 25px 25px;
}

.portfolio .container .items div {
  padding: 15px;
  border-top: 2px solid #696969;
  border-bottom: 2px solid #696969;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.portfolio .container .items div p {
  font-weight: bold;
}

.portfolio .container .items figure img {
  width: 80px;
  height: 80px;
  border: 5px solid #e1e506;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .portfolio .container .items {
    -ms-grid-columns: (minmax(300px, 1fr))[1];
        grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}

.portfolio .container-fluid {
  text-align: center;
}

.portfolio .container-fluid .gallery {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px 20px;
}

.portfolio .container-fluid .gallery img {
  -webkit-box-shadow: 5px 5px 10px 3px #95adaf;
          box-shadow: 5px 5px 10px 3px #95adaf;
  padding: 2px;
  border: 2px solid #ccc;
  border-radius: 15px;
}

.portfolio .container-fluid .btn {
  margin-top: 70px;
}

.portfolio .container-fluid .video {
  margin-top: 70px;
  position: relative;
}

.portfolio .container-fluid .video figure {
  overflow: hidden;
  position: relative;
}

.portfolio .container-fluid .video figure img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.portfolio .container-fluid .video figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #414141bb;
  opacity: 0.7;
  z-index: 1;
}

.portfolio .container-fluid .video button {
  letter-spacing: 5px;
  word-spacing: 10px;
  padding: 15px;
  color: #e1e506;
  background-color: transparent;
  border: 2px solid #e1e506;
  z-index: 2;
}

@media (max-width: 577px) {
  .portfolio .container-fluid .video button {
    letter-spacing: 0px;
    word-spacing: 0px;
    font-size: 12px;
    width: 30%;
    padding: 5px;
  }
}

.portfolio .container-fluid .video:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.our-team .container {
  text-align: center;
}

.our-team .container .team {
  padding-top: 70px;
  padding-bottom: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px 25px;
}

.our-team .container .team .card {
  -webkit-perspective: 800px;
          perspective: 800px;
}

.our-team .container .team .card .flip {
  position: relative;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.our-team .container .team .card .flip .info {
  position: absolute;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  border-radius: 20px 20px 0 0;
  padding: 15px;
  background-image: linear-gradient(20deg, #e9d200 10%, #e1e506 100%);
}

.our-team .container .team .card .flip .info h3 {
  color: #867e7e;
  padding: 10px;
}

.our-team .container .team .card .flip .info p {
  padding: 10px;
  font-size: 12px;
  background-image: none;
}

.our-team .container .team .card .flip .info p i {
  opacity: 0.5;
}

.our-team .container .team .card .flip .info span {
  color: #a3a2a2;
}

.our-team .container .team .card .flip .info span i {
  color: #1da1f2;
}

.our-team .container .team .card .flip figure {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
}

.our-team .container .team .card .flip figure img {
  border-radius: 20px 20px 0 0;
}

.our-team .container .team .card .flip figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  color: #6d6d6b;
  background-color: #ffff00c5;
  font-weight: bold;
}

.our-team .container .team .card:hover .flip {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.our-team .container .team .card p {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #fff), to(#e4e3e3));
  background-image: linear-gradient(to right, #fff 10%, #e4e3e3 100%);
  padding: 15px;
  color: #535353;
  font-size: 14px;
}

.testimonials {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e1e506), to(transparent));
  background-image: linear-gradient(to bottom, #e1e506 0%, transparent 100%);
}

.testimonials .qoutes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.testimonials .qoutes .dark {
  padding-top: 15px;
  padding-right: 15px;
}

.testimonials .qoutes .dark .top {
  -webkit-box-shadow: 0 0 10px 2px #5e5e5e;
          box-shadow: 0 0 10px 2px #5e5e5e;
  height: 65%;
  background-color: #1c1c1c;
  padding: 30px;
  margin-bottom: 15px;
  color: #fff;
  font-size: 14px;
  line-height: 1.6;
}

.testimonials .qoutes .light {
  padding-top: 15px;
  padding-left: 15px;
}

.testimonials .qoutes .light h4 {
  text-align: right;
}

.testimonials .qoutes .light .bottom {
  -webkit-box-shadow: 0 0 10px 2px #808080;
          box-shadow: 0 0 10px 2px #808080;
  height: 65%;
  margin-top: 15px;
}

.testimonials .qoutes .light .bottom img {
  width: 100%;
  height: 100%;
}

.testimonials .qoutes .text h4 {
  margin-top: 10px;
  color: #726666;
}

@media (max-width: 991px) {
  .testimonials .qoutes .dark {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .testimonials .qoutes .dark .top {
    padding: 120px;
    margin-left: 80px;
  }
  .testimonials .qoutes .light {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .testimonials .qoutes .light .bottom {
    margin-right: 80px;
  }
}

@media (max-width: 767px) {
  .testimonials .qoutes {
    padding-bottom: 25px;
    -ms-grid-columns: (minmax(300px, 1fr))[1];
        grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  .testimonials .qoutes .top,
  .testimonials .qoutes .bottom {
    display: none !important;
  }
}

footer {
  background-color: #032027;
}

footer .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px 25px;
  padding-top: 70px;
  padding-bottom: 70px;
}

footer .content p {
  color: #ccc;
}

footer .content .summary p {
  margin-bottom: 30px;
  margin-top: 30px;
}

footer .content .summary .rights span {
  color: #e1e506;
  font-weight: bold;
}

footer .content .useful-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[2];
      grid-template-columns: repeat(2, minmax(150px, 1fr));
  gap: 25px 25px;
}

footer .content .useful-links ul li {
  margin-bottom: 15px;
}

footer .content .useful-links ul li a {
  color: #ccc;
}

footer .content .useful-links ul li a:hover {
  color: #e1e506;
  font-weight: bold;
}

footer .content h4 {
  color: #fafafa;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

footer .content .contact p {
  margin-bottom: 20px;
}

footer .content .contact .mail {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  background-color: #e1e506;
  color: #606000;
  font-weight: bold;
  padding: 8px;
  border-radius: 20px;
}

footer .content .contact .social {
  text-align: center;
}

footer .content .contact .social a {
  padding: 10px;
}

footer .content .contact .social a:nth-child(1) i {
  color: #00abee;
}

footer .content .contact .social a:nth-child(2) i {
  color: #f5f5f5;
}

footer .content .contact .social a:nth-child(3) i {
  color: #6ec9e0;
}

footer .content .contact .social a:nth-child(4) i {
  color: #006fbf;
}

@media (max-width: 767px) {
  footer .content {
    text-align: center;
  }
}

nav .container .nav-links .icon, .services .container .service-list .item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .container .logo, .services .container .service-list .item .skills .range span::after, .testimonials .qoutes .dark .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .title, .portfolio .container-fluid .video button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

nav .container .logo img, header .more img, footer .content .summary figure img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #e1e506;
}

.services .container .service-list .item .info h3, .about h2 {
  margin-top: 15px;
  color: #867e7e;
  line-height: 1.6;
  text-transform: uppercase;
}

nav .container .nav-links .icon, nav .container .nav-links ul, nav .container .nav-links ul li a, .services .container .service-list .item .skills, .progress .content .done, .portfolio .container-fluid .video figure img, footer .content .useful-links ul li a, .btn button {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.about {
  padding-top: 70px;
}

.about span {
  color: #c3b000;
}

.about span i:first-child {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.about h2 {
  letter-spacing: 8px;
}

.about p {
  margin-top: 15px;
}

@media (min-width: 992px) {
  .about {
    width: 70%;
    margin: auto;
  }
}

.btn button {
  border-radius: 10px;
  -webkit-box-shadow: 0 3px #8b8d03;
          box-shadow: 0 3px #8b8d03;
  padding: 15px;
  color: #606000;
  background-color: #e1e506;
  font-weight: bold;
}

.btn button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn button:active {
  background-color: #ffee00;
  color: #8d8c8c;
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
/*# sourceMappingURL=style.css.map */
